table, th, td {
    border: 2px solid green;
    border-collapse: collapse;
    text-align: center;
    color: #DF013A;
    background: #E0F2F7;
}

td {
    width: 100px;
    height: 50px;
}
img {
    margin-left: 8cm;
}


#divQues {

    height: 350px;
    border-width: 3px;
   
}

h1{
    text-align: center;
    color: blue;
}

h2.type{
    padding-left: 6cm;
}

#tableCheck{
    padding-left: 4cm;
    
}
form{
    list-style: inside;
    padding-top: 1cm;
    padding-left: 0.5cm;
}

button {
    
    width: 280px;
    font-size: 30px;
    border: double;
    border-color: royalblue;
    background:#66FFCC;
    height: 50px;
}