*{
    padding: opx;
    margin: 0px;
}

a, a:hover{
    color: white;
    text-decoration: none;
}
#header{
    width: 100%;
    background-color: #7757A8;
    height: 62px;
}

div.wrap-logo{
    margin-left: 12%;
    padding-top: 10px;
    float: left;
}

span.logo-memrise{
    font-size: 24px;
}

a.menu-button{    
    display: inline-block;
    height: 36px;
    text-align: center;
    margin-top: 13px;
}
.space-left1{
    margin-left: 33%;
}
.space-left2{
    margin-left: 1%;
}
.menu-name{
    font-size: 18px;
    line-height: 36px;
    margin-left: 7px;
    margin-right: 7px;
}
.space-left3{
    background-color: #bd5187;
    margin-left : 1%;
}
a.menu-button:hover{
    background-color: rgb(200, 166, 243);
    border-radius: 3px;

}
a.space-left3:hover{
    background-color : #c26ea2; 
 }
 #page-head{
    width: 100%;
    background-color: rgb(207, 120, 20);
 }


.btn-btn-success{
    width : 30%;
    background-color: rgb(34, 214, 18);
    margin-left: 35%;
   
}

.col-md-6-col-sm-12ка{
    display: inline-block;
    padding: 10px;
}
.img-responsive{
    width: 3%;
    margin-right: 40%;
}
.footer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}