* {
    font-family: 'Signika', sans-serif;
}

body {
    font-size: 100%;
    background: #f7f7f7 !important;
}

/* nav */
nav.navbar {
    background: #32CDFF !important;
}

ul li a.nav-link {
    text-transform: uppercase;
    color: #fff !important;
    font-weight: bold;
    font-size: 14px;
}

ul li a.nav-link span {
    vertical-align: middle;
}


/*main*/

div.mainbody{
	margin-top: 80px;
}

@media screen and (max-width: 576px) {
  .cardcover {
    height: 10000px;
  }
}

div > div.cardcover{
	background:white;
	height: 300px;
    border-radius: 30px;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,.17);
}


input.title-text{
	margin: 2%;
	color: #5c5c5c;
	border:none ;
	background-color: #f7f7f7;
	border-bottom: 2px solid #e8e8e8;
	font-size: 27px;
    font-weight: bold;
    width: 100%;
}

input.description-text{
	margin:2%;
	border:none ;
	background-color: #f7f7f7;
	border-bottom: 2px solid #e8e8e8;
	font-weight: bold;
	color: #5c5c5c;
	width: 100%;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c4c4c4;
}

button.button-setting{
	background:#fff;
	border: 2px solid #32cdff;
    border-radius: 10px;
}

button.button-create{
	width:100%; 
	background:#32CDFF; 
	border-radius: 10px; 
	border: none;
	color: #fff;
}

div.text-center{
	position: absolute;
	top: 35%;
	align-self: center;
}

div>b{
	color: #c4c4c4;
	text-align: center;
}

div.addcard{
	padding: 15% 2%;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,.17);
	width: 100%;
	margin-top: 5%;
}
@media screen and (min-width: 675px){
	div.addcard{
		margin-top: 0px;
	}
}



div.card-font, div.card-back{
	width: 100%;
	height: 250px;
	border-radius: 30px;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,.17);
    text-align: center;
}

div.card-back>b , div.card-font>b{
	top: 45%;
	font-size: 25px;
	position: absolute;
	align-self: center;
}
