* {
    font-family: 'Signika', sans-serif;
}

body {
    font-size: 100%;
    background: #f7f7f7 !important;
}

/* nav */
nav.navbar {
    background: #32CDFF !important;
}

ul.navbar-nav li a.nav-link {
    text-transform: uppercase;
    color: #fff !important;
    font-weight: bold;
    font-size: 14px;
}

ul.navbar-nav li a.nav-link span {
    vertical-align: middle;
}

.avatar img {
    object-fit: cover;
}

.activity {
    background: #fff;
    border-radius: 10px;
}

.activity .tab-content .tab-pane {
  color: #5c5c5c;
}

.activity ul li a.active {
    color: #fff !important;
}

.activity ul li a {
    color: #c4c4c4 !important;
}

.username {
    text-transform: uppercase;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: bold;
}

.settings, .share {
  border: 1px solid #32cdff;
  border-radius: 8px;
}

.settings:hover {
  cursor: pointer;
}

.settings span {
    color: #32cdff;
    text-transform: uppercase;
    font-weight: bold;
}

.share:hover {
  cursor: pointer;
}



/* footer */
ul.nav.justify-content-center li.nav-item a.nav-link {
  text-transform: uppercase;
  font-weight: bold;  
  color: #c4c4c4;
}

ul.nav.justify-content-center li.nav-item span {
  text-transform: uppercase;
  font-weight: bold;  
  color: #c4c4c4;
  vertical-align: middle;
}

@media only screen and (max-width: 812px) {
  ul.footer {
      display: none;
  }
}