a,u {
  text-decoration: none ! important;
  color: black;
}

#signInModal label {
  margin-top: 10px;
}

body {
  padding-top: 54px;
}

fontT {
  font-family: Tahoma;
}

nav {
  background-color: #ffffff;
}

#content {
  background-color:#fafafa;
}

h4 {
  margin-top: 0.3em;
}

#footer {
  margin-top: 20px;
}

@media (min-width: 992px) {
body {
  padding-top: 56px;
}
}