<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Tinycards--Flashcards by Duolingo</title>
	<link rel="shortcut icon" href="../public/image/logo_tiny.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/create/cuongstyle.css">
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="../public/js/style.js"></script>
</head>
<body style="background:#f7f7f7;">
	<header>
		<div class="container">
			<div class="row">
				<div class="logo">
					<img src="../public/image/tinycards.png" alt="logo" width="40">
				</div>
				<div class="col-2">
					<img src="../public/image/tinycards_text.png"
					height="40" alt="text">
				</div>
				<div class="col-4 search-bar">
					<div class="row">
						<div class="search">
							<form style="display: inline-block">
								<img src="../public/image/search_w.png" alt="search">	
								<input type="text" name="" placeholder="Search" style="border: none;">
							</form>
						</div>
					</div>
				</div>
				<div class="h">
					<a href="#">
						<img src="../public/image/home.png" alt="home" />
						<span>Home</span>
					</a>
				</div>

				<div class=" col-2 c">
					<a href="#">
						<img src="../public/image/plus.png" alt="create" width="16">
						<span>Create</span>
					</a>
				</div>
				<div class="p">
					<a href="#">
						<img src="../public/image/profile.png" alt="create" width="16">
						<span>Hoang Xuan Cuong</span>
					</a>
				</div>
			</div>
		</div>
	</header>
	<div class="deck-info">
		<div class="container">
			<div class="row">
				<div class="col-4 deck">
					<a href="#">
						<img src="../public/image/moutain.png" alt="logo">
						<div>
							Choose cover (optional)
						</div>
					</a>
					<div class="deck-input">
						<input type="text" placeholder="Enter title" maxlength="50">
					</div>
					<div class="deck-input-description">
						<input type="text" placeholder="Enter description (optional)" maxlength="50">
					</div>

					<div class="row">
						<div class="create-deck">
							<button>
							<img src="../public/image/settings.png" width="25">
							</button>
						</div>
						<button class="btn-create">Create</button>
					</div>
				</div>
				<div class="col-7 b-deck" >
					<div class="row font">
						<div class="col-1 number">
							<div>1</div>
						</div>
						<div class="col-5 deck-font" >
							<input type="text" name="" placeholder="Font">	
						</div>
						<div class="col-5 deck-end" >
							<input type="text" name="" placeholder="Back">	
						</div>

						<div class="col-1 button-add">
							<a href="#">
								<img src="../public/image/add.png" width="70">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>