<!DOCTYPE html>
<html lang="en"><head>
	<title> Example </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script type="text/javascript" src="../public/js/lesson/bootstrap.js"></script>
	<script type="text/javascript" src="1.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
	<link rel="stylesheet" href="../public/css/lesson/bootstrap.css">
 	<link rel="stylesheet" href="../public/css/lesson/lesson.css">
 	<link rel="stylesheet" href="../public/css/lesson/font-awesome.css">
</head>
<body >
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    	<div class="container">
    		<!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
    			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a href="">
    				<p class="pull-right tdlogo">Tinycards</p>
    				<img src="../public/image/lesson/icon.jpg" alt="" class="icon">
    			</a>
    			
    		</div>
    
    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse navbar-ex1-collapse ">
    			
    			<form class="navbar-form navbar-left" role="search">

    				<div class="form-group">
    					<b class="fa fa-search"></b>
    					<input type="text" class="form-control" placeholder="Search">
    				</div>
    			</form>
    			<ul class="nav navbar-nav navbar-right menu">
    				<li><a href="#"><b class="fa fa-home"></b><p class="pull-right">Home</p></a></li>
    				
    				<li><a href="#"><b class="fa fa-plus"></b><p class="pull-right">Create</p></a></li>
    				
    				
    				<li><button class="btn-primary text-center">Sing Up</p></button></li>
    				
    			</ul>
    		</div><!-- /.navbar-collapse -->
    	</div>
    </nav>

    <div class="container bentrai">
    	<div class="row">
    		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    			<img src="../public/image/lesson/anh1.jpeg" alt="" class="anh1">
    			<h3>Greatest Rockstars</h3>
    			<p>Who are the greatest rockstars? Find out now!</p>
    			<div class="container-fluid">
    				<div class="row">
    					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	    					<img src="../public/image/lesson/anh2.jpeg" alt="" class="anh2">
	    					<a href="">ioanna</a>   
    					</div>
    					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-md-push-3">
    						<b class="glyphicon glyphicon-star-empty">780</b>	
    					</div>
    				</div>
    			</div> <!-- end container con1 -->
    			<div class="contaiber-fluid cuoibentrai text-center">
    				<div class="row">
    					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    						<div class="favorite">
			    				<a href=""><b class="glyphicon glyphicon-star-empty"></b>favorite</a>
			    			</div>
    					</div>
    					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    						<a href=""><b class="fa fa-external-link"></b>	</a>
    					</div>
    				</div>
    			</div> <!-- end container con2 -->
    		</div>
    		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    			<div role="tabpanel">
    				<!-- Nav tabs -->
    				<ul class="nav nav-tabs" role="tablist">
    					<li role="presentation" class="active">
    						<a href="#home" aria-controls="home" role="tab" data-toggle="tab">Lessons</a>
    					</li>
    					<li role="presentation">
    						<a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">Cards(21)</a>
    					</li>
    				</ul>
    			
    				<!-- Tab panes -->
    				<div class="tab-content">
    					<div role="tabpanel" class="tab-pane active" id="home">
							<div class="contaner-fluid text-center tab1">
								<div class="row">
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><h1>1</h1></bs3></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><bs3 class="fa fa-lock"></bs3></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><bs3 class="fa fa-lock"></bs3></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><bs3 class="fa fa-lock"></bs3></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><bs3 class="fa fa-lock"></bs3></div>
										</div>
									</a>
								</div>
							</div>
    					</div>
    					<div role="tabpanel" class="tab-pane" id="tab">
    						<div class="contaner-fluid text-center tab1">
								<div class="row">
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi">
												<img src="../public/image/lesson/3.jpeg" alt="">
											</bs3></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi">
												<img src="../public/image/lesson/4.jpeg" alt="">
											</div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/5.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/6.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/7.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/8.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/9.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/10.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/11.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/12.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/13.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/14.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/15.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/16.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/17.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/18.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/19.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/20.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/21.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/22.jpeg" alt=""></div>
										</div>
									</a>
									<a href="">
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<div class="khoi"><img src="../public/image/lesson/23.jpeg" alt=""></div>
										</div>
									</a>
								</div>
							</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    	
	<div class="container footer">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul>
					<li><a href="">About</a></li>
					<li><a href="">Support</a></li>
					<li><a href="">Terms</a></li>
					<li><a href="">Duolingo</a></li>
					<li><a href="">Facebook</a></li>
					<li><a href="">Twitter</a></li>
					<li><a href="">English</a></li>
				</ul>
			</div>
		</div>
	</div>
    	

	

</body>
</html>