<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tinycards - FlasCard</title>
    <link rel="shortcut icon" href="../public/image/logo_tiny.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/search_result/style.css">
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<body>
    <header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 logo">
                <img src="../public/image/tinycards.png" alt="logo" width="44" height="44">
                <img src="../public/image/tinycards_text.png" alt="text" width="120" height="34" class="text-logo">
            </div>
            <div class="col-4 col-md-4 courses">
                <div class="search">
                    <div class="search-title">
                        <form action="#">
                            <img src="../public/image/search.png" alt="search">
                            <input style="border: none;" type="text" placeholder="Search">
                        </form>
                    </div>
                </div>    
            </div>
            <div class="col-4 col-md-4 sign">
                <a href="#" class="sign-in">
                    <img src="../public/image/home.png" alt="logo" width="22" height="22">Home</a>
                <a href="#" class="sign-in">
                    <img src="../public/image/plus.png" alt="logo" width="22" height="22">Create</a>
                <a href="#" class="sign-up">Sign Up</a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="list-courses col-12 col-md-10">
            <div class="jumbotron">
                <div class="card text-center">
                    <div class="card-header">
                        <h1 class="display-4">Search results for “....”</h1>
                        <ul class="nav nav-pills card-header-pills">
                          <li class="nav-item">
                            <a class="nav-link" href="#">DECKS</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">PEOPLE</a>
                          </li>
                        </ul>
                    </div>
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                </div>
            
            </div>
        </div>
    </div>
</div>
<footer>
    
</footer>
</body>