p{
	padding-top: 130px;
}
#img{
	width: 350px;
	height: 280px;
}
#back{
	height: 350px;
	width: 350px;
}
#chu{
	background-color: #9a8f91b8;
}
.main{
		
		margin-top:30px;
		border:20px;
}
#wrap{
	height: 400px;
	width: 600px;
	background-color: #e3f2ffcc
	
}
#pr, #next{
	margin-top: 180px;
}
#text{
	font-size: 40px;
	font-style: oblique;	
}
/*.flip
  position: relative
  +perspective(800)
  width: 80%
  height: 200px
.flip .main.flipped
  +transform(rotatex(-180deg))
.flip .main
  +transform-style(preserve-3d)
  +transition(0.5s)
  width: 100%
  height: 100%
.flip .main .face
  position: absolute
  z-index: 2
  +backface-visibility(hidden) 
  width: 100%
  height: 100%
.flip .main .front
  position: absolute
  z-index: 1
.flip .main .back
  +transform(rotatex(-180deg))
// Make it at least functional IE
.flip .main.flipped .back
  z-index: 0*/