* {
    font-family: 'Signika', sans-serif;
}

body {
    font-size: 100%;
    background: #f7f7f7 !important;
}

/* nav */

nav.navbar {
    background: #32CDFF !important;
}

ul li a.nav-link {
    text-transform: uppercase;
    color: #fff !important;
    font-weight: bold;
    font-size: 14px;
}

ul li a.nav-link span {
    vertical-align: middle;
}


/* .mask */
.mask {
    background-color: gray;
    opacity: 0;
    z-index: 5000;
    height: 1000px;
    visibility: hidden;
}

.mask-blur {
    visibility: visible !important;
    opacity: 0.35 !important;
}

/* section */
section {
    padding-top: 100px;
}

section .wrapper {
    margin-top: -1000px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, .1);
}

section img {
    object-fit: cover;
}

section .wrapper .slide {
    background: #A21937;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 220px;
}

section .wrapper .slide div.title {
    font-size: 2em;
    color: #fff;
    margin: auto;
    font-weight: bold;
}

section .wrapper .slide .image-slide {
    border-radius: 18px;
    box-shadow: 0px 6px 1px #fff;
    margin-top: 20px;
}

section .wrapper .favorites {
    margin-top: 5%;
    margin-bottom: 5%;
}

section .wrapper .favorites .your {
    color: #5c5c5c;
    font-size: 1.25em;
    font-weight: bold;
}

section .wrapper .favorites .no-favo {
    color: #c4c4c4;
    font-size: 1.25em;
    text-align: center;
}

/* .row.loading */
.row.loading {
    display: none;
}

.row.loading div.icon-loading {
    background: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 80px;
    padding-top: 10px;
    padding-left: 30%;
    margin-top: -700px;
    z-index: 6000;
}

.row.loading div.icon-loading img {
    margin-right: 10px;
    border-top: 3px solid #32CDFF;
    border-bottom: 3px solid #32CDFF;
    border-left: 3px solid #32CDFF;
    border-right: 3px solid green;
    padding: 10px;
    border-radius: 100%;
    animation: spinner 2.5s forwards;
}

.row.loading div.icon-loading span {
    color : #5c5c5c;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(720deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(720deg);
    }
}

/* .row.follow */
section .wrapper .follow {
    margin-top: 5%;
    margin-bottom: 5%;
}

section .wrapper .follow .title {
    color: #5c5c5c;
    font-size: 1.25em;
    font-weight: bold;
}

section .wrapper .follow .find {
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    background: #32CDFF;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 8px;
    cursor: pointer;
    max-height: 40px;
}

/* .row.trending */
.trending {
    padding-top: 2%;
    border-top: 1px solid #e8e8e8;
}

.trending .title {
    font-size: 20px;
    line-height: 37.5px;
    color: #5c5c5c;
    font-weight: bold;
}

.trending .see-all {
    text-transform: uppercase;
    font-size: 15px;
    color: #32CDFF;
    font-weight: bold;
    line-height: 22.5px;
    text-align: center;
    cursor: pointer;
}

.see-all:hover {
    text-shadow: -0.5px -0.5px;
}

.slide-trending {
    margin-top: 15px;
}

.slide-trending img {
    object-fit: cover;
    border-radius: 18px;
}

/* .row.trending .block*/
.block {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}

.block p {
    font-size: 15px;
    line-height: 22.5px;
    color: #5c5c5c;
    font-weight: 600;
    width: 144px;
    margin-top: 15px;
}

.block img {
    box-shadow: 0 2px 9px rgba(0, 0, 0, .1);
    max-width: 160px;
}

.block .likes img {
    width: 16px !important;
    display: inline-block !important;
    /* margin: 0 !important; */
}

.block .likes span {
    color: #c4c4c4;
}

/* footer */
.menu {
    color: #c4c4c4;
    padding-bottom: 6%;
}

.menu .link {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 15px;
    color: #c4c4c4;
    text-decoration: none solid rgb(196, 196, 196);
    font-size: 15px;
    line-height: 22.5px;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .lang {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 22.5px;
    color: #32cdff;
    cursor: pointer;
}

.menu .lang img {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}
