<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tinycards - FlasCard</title>
    <link rel="shortcut icon" href="../public/image/logo_tiny.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/library/normalize.css">
    <link rel="stylesheet" href="../public/css/1-1/1-1.css">
    <!-- <link rel="stylesheet" href="../public/css/1-1/m_1-1.css"> -->

    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">

    <link rel="stylesheet" href="../public/css/library/owl.carousel.min.css">
    <link rel="stylesheet" href="../public/css/library/owl.theme.default.min.css">

    <script src="../public/js/library/jquery-3.3.1.min.js"></script>
    <script src="../public/js/library/owl.carousel.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="../public/js/1-1/1-1.js"></script>
</head>
<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-light bg-blue">
            <a class="navbar-brand ml-md-5" href="lesson.html">
                <img src="../public/image/tinycards.png" alt="logo" width="44" height="44">
                    <img src="../public/image/tinycards_text.png" alt="text" width="120" height="34" class="text-logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0 mr-auto ml-lg-5">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav mr-5 align-items-center">
                        <li class="nav-item active mr-1">
                            <a class="text-white text-uppercase font-weight-bold" href="home.html">
                                <img src="../public/image/home.png" alt="home" class="mr-1">
                                <span>Home</span> 
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="mr-1">
                            <a class="nav-link text-white text-uppercase font-weight-bold" href="#">
                                <img src="../public/image/plus.png" alt="home" class="mr-1">
                                <span>Create</span>
                            </a>
                        </li>
                        <li class="mr-1">
                            <a class="nav-link text-white text-uppercase font-weight-bold" href="profile.html">
                                <img src="../public/image/profile.png" alt="home" class="mr-1">
                                <span>Profile</span>
                            </a>
                        </li>
                    </ul>
        </div>
    </nav>
<section class="pt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto wrapper rounded border mb-5" style="height: 900px;">
                <!--  .row.slide -->
                <div class="row slide bg-danger pb-4 rounded">
                    <div class="title col-5 offset-1 col-md-5 offset-md-1 m-auto ">
                        <h1 class="font-weight-bold text-white">Africa And Europe</h2>
                    </div>
                    <div class="picture col-5 offset-1 col-md-3 offset-md-3">
                        <img width="144" height="166" src="../public/image/home_page/africa.png" alt="Africa"
                             class="image-slide mt-5">
                    </div>
                </div>
                <!--  .row.favorites -->
                <div class="row favorites my-5">
                    <div class="your col-12 col-md-5 ">
                        <h4 class="font-weight-bold text-primary">Your favorites</h4>
                        
                    </div>
                    <div class="no-favo col-12 col-md-4 offset-md-3 text-secondary text-center">
                        <h4>No favorites yet</h4>
                        
                    </div>
                </div>
                <!--  .row.follow -->
                <div class="row follow my-5">
                    <div class="title col-12 col-md-5 text-primary">
                        <h4 class="font-weight-bold">People your follow</h4>
                        
                    </div>
                    <div class="find col-6 offset-3 col-md-3 offset-md-3 text-white text-uppercase ">
                        <h6 class="rounded font-weight-bold bg-blue text-center border py-2">Find</h6>
                        
                    </div>
                </div>
                <!-- .row .trending -->
                <div class="row trending border-top pt-2">
                    <div class="col-6 col-md-4 title">
                        <h4 class="font-weight-bold text-primary">Trending</h4>
                        
                    </div>
                    <div class="col-6 col-md-3 offset-md-5 see-all text-center">
                        <a href="see_all.html" >
                            <h6 class="font-weight-bold text-uppercase text-blue">
                                    See All
                            </h6>

                        </a>
                    </div>
                    <div class="w-100"></div>
                    <!-- .slide-trending-->
                    <div class="col-10 offset-1 col-md-10 offset-md-1 slide-trending mt-4">
                        <div class="row">
                            <div class="owl-carousel">
                                <div class="block d-inline-block" style="width: 144px">
                                    <img src="../public/image/trending/trend1.jpg" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>Fruit</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block" >
                                        <span class="text-secondary">10K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend2.jpg" width="100%" height="166" class="rounded "
                                         alt="" >
                                    <p>France</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">14K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend3.png" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>Patheon</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">12K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend4.jpg" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>Exercise</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">15K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend5.jpg" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>Earth</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">8K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend6.png" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>Eiffel Tower</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">26K</span>
                                    </div>
                                </div>

                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend7.png" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>Periodic</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">61K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend8.png" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>America</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">9K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend9.png" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>Mathematic</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">8K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend10.png" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>School</p>
                                    <div class="likes"  style="width: 144px">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">26K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend11.png" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>Tower</p>
                                    <div class="likes" >
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">20K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend20.png" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>Univison</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">2K</span>
                                    </div>
                                </div>

                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend12.png" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>Fire Fox</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">7K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend13.png" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>Blue Bird</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">10K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend14.png" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>Language</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">21K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend15.png" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>La Poste</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">42K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend16.png" width="10%" height="166" class="rounded "
                                         alt="">
                                    <p>Mini Craft</p>
                                    <div class="likes" >
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">12K</span>
                                    </div>
                                </div>
                                <div class="block d-inline-block"  style="width: 144px">
                                    <img src="../public/image/trending/trend17.png" width="100%" height="166" class="rounded "
                                         alt="">
                                    <p>Jobs</p>
                                    <div class="likes" >
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes" class="d-inline-block">
                                        <span class="text-secondary">26K</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End .trending-->
                </div>
            </div>
        </div>
</section>
<div class="container position-fixed d-none" style="top:50%;left:15%">
    <div class="row loading ">
        <div class="col-12 col-sm-8 col-md-8  icon-loading bg-white border text-center mx-auto">
            <img src="../public/image/home_page/planet-earth.png" alt="Loading">
            <span>Loading...</span>
        </div>
    </div>
</div>
<div class="container nav-bar">
    <div class="row">
        <div class="col-md-11 offset-md-1">
            <nav class="menu text-secondary pb-5 ">
                <a class="link d-inline-block " href="#"><h6 class="font-weight-bold text-uppercase text-secondary mx-3">About</h6> </a>
                <a class="link d-inline-block " href="https://support.duolingo.com"><h6 class="font-weight-bold text-uppercase text-secondary mx-3">Support</h5></a>
                <a class="link d-inline-block " href="https://www.duolingo.com/terms"><h6 class="font-weight-bold text-uppercase text-secondary mx-3">Terms</h6></a>
                <a class="link d-inline-block " href="https://www.duolingo.com/"> <h6 class="font-weight-bold text-uppercase text-secondary mx-3">Doulingo</h6></a>
                <a class="link d-inline-block " href="https://www.facebook.com/tinycards">
                   <h6 class="font-weight-bold text-uppercase text-secondary mx-3">Facebook</h6> </a>
                <a class="link d-inline-block" href="https://twitter.com/tinycardsapp"><h6 class="font-weight-bold text-uppercase text-secondary mx-3">Twitter</h6> </a>
                <div class="lang d-inline-block pointer text-blue font-weight-bold">
                    <img src="../public/image/united-states.png" alt="english" class="d-inline-block pointer mr-2"/>
                    <span>English</span>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
</html>