<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinycards - FlasCard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../public/image/logo_tiny.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/library/normalize.css">
    <link rel="stylesheet" href="../public/css/1-2-1/1-2-1.css">

    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">

    <link rel="stylesheet" href="../public/css/library/owl.carousel.min.css">
    <link rel="stylesheet" href="../public/css/library/owl.theme.default.min.css">

    <script src="../public/js/library/jquery-3.3.1.min.js"></script>
    <script src="../public/js/library/owl.carousel.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/	bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-blue w-100 position-fixed" style="z-index: 9999;">
    <a class="navbar-brand ml-md-5" href="lesson.html">
        <img src="../public/image/tinycards.png" alt="logo" width="44" height="44">
        <img src="../public/image/tinycards_text.png" alt="text" width="120" height="34" class="text-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 mr-auto ml-lg-5">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-5">
            <li class="nav-item active mr-1">
                <a class="nav-link" href="home.html">
                    <img src="../public/image/home.png" alt="home" class="mr-1">
                    <span class="text-uppercase font-weight-bold text-white">Home</span> 
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="#">
                    <img src="../public/image/plus.png" alt="home" class="mr-1">
                    <span class="text-uppercase font-weight-bold text-white">Create</span>
                </a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="profile.html">
                    <img src="../public/image/profile.png" alt="home" class="mr-1">
                    <span class="text-uppercase font-weight-bold text-white">Profile</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="w-100"></div>
<!-- End header -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 wrapper mt-md-5 mb-5 bg-white">
            <div class="row">
                <button type="button" class="close mt-4 pt-3 ml-auto" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="process col-10 col-md-10 mx-auto bg-secondary mt-5">
                </div>
            </div>
            <div class="row">
                <div class="title col-10 col-md-3 mx-auto mt-5 text-center text-warning h4 font-weight-bold">New Card</div>
            </div>
            <div class="row">
                <div class="card col-10 col-md-3 mx-auto mt-4 rounded pointer"></div>
            </div>
            <!-- <div class="row">
                <div class="continue col-10 col-md-3 mx-auto mt-4 pt-1">
                    <button>Continue</button>
                </div>
            </div> -->
            <div class="row">
                <div class="how-to-flip col-10 col-md-3 mx-auto mt-3 text-center text-secondary font-weight-bold">
                    Click card or press Space to flip
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>