<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
    <link rel="stylesheet" href="../public/css/1-2/1-2.css" type="text/css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-blue w-100" style="z-index: 9999;">
    <a class="navbar-brand ml-md-5" href="1-2.html">
        <img src="../public/image/tinycards.png" alt="logo" width="44" height="44">
        <span class="text-white font-weight-bold">TinyCards</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 mr-auto ml-lg-5">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-5">
            <li class="nav-item active mr-1">
                <a class="nav-link" href="1-1.html">
                    <img src="../public/image/home.png" alt="home" class="mr-1">
                    <span class="text-uppercase font-weight-bold text-white">Home</span>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="1-3.html">
                    <img src="../public/image/plus.png" alt="home" class="mr-1">
                    <span class="text-uppercase font-weight-bold text-white">Create</span>
                </a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="1-4.html.html">
                    <img src="../public/image/profile.png" alt="home" class="mr-1">
                    <span class="text-uppercase font-weight-bold text-white">Profile</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="w-100"></div>
<!-- End header -->
<div class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-12">
                <div class="row text-center">
                    <div class="col-8 col-md-12 offset-2 offset-sm-4 offset-md-0 col-sm-4">
                        <img class="img-fluid d-block anhTieuDe rounded w-100" src="../public/image/lesson/hinh1.png"></div>
                    <div class="col-md-12 col-8">
                        <div class="row">
                            <div class="col-md-12 col-12 offset-3 offset-md-0 mt-3">
                                <span class="tieuDe h4 text-dark font-weight-bold">Greatest Rockstars</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12 offset-3 offset-md-0 mt-1">
                                <p class="gioiThieu h6 text-dark font-weight-bold">Who are the greatest rockstars? Find out now!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center mb-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-9 col-md-10">
                                <div class="row yeuThich">
                                    <div class="col-9 col-md-11 border border-blue pt-2 pb-2 rounded ml-auto ml-md-0"><i class="fa fa-star"></i>
                                        <a href="#" class="text-blue font-weight-bold text-uppercase">favorite</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-md-2 link pt-2 border border-blue rounded"><i class="fa fa-external-link"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-12"></div>
            <div class="col-md-8 col-sm-12 bg-white pt-3 pl-4">
                <ul class="nav nav-pills border-bottom pb-1 mb-3">
                    <li class="nav-item">
                        <a href="" class="active nav-link" data-toggle="pill" data-target="#tabone">Lessons</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">Cards(21)</a>
                    </li>
                </ul>
                <div class="tab-content mt-2">
                    <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row cot2">
                                    <div class="col-md-3 col-xs-4 col-sm-4 khoa mb-3 pointer">
                                        <img class="img-fluid d-block" src="../public/image/lesson/tải xuống.png"></div>
                                    <div class="col-md-3 col-xs-4 col-sm-4 khoa mb-3 pointer">
                                        <img class="img-fluid d-block" src="../public/image/lesson/tải xuống.png"></div>
                                    <div class="col-md-3 col-xs-4 col-sm-4 khoa mb-3 pointer">
                                        <img class="img-fluid d-block" src="../public/image/lesson/tải xuống.png"></div>
                                    <div class="col-md-3 col-xs-4 col-sm-4 khoa mb-3 pointer">
                                        <img class="img-fluid d-block" src="../public/image/lesson/tải xuống.png"></div>
                                    <div class="col-md-3 col-xs-4 col-sm-4 khoa mb-3 pointer">
                                        <img class="img-fluid d-block" src="../public/image/lesson/tải xuống.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                        <div class="row">
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh3.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh4.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh5.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh6.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh7.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh8.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh9.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh10.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh11.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh12.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh13.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh14.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh15.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh16.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh17.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh18.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh19.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh20.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh21.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh22.jpg"></div>
                            <div class="col-md-4 col-xs-12 col-sm-6 anh mb-3">
                                <img class="img-fluid d-block hinhanh1 w-100 h-100 rounded pointer" src="../public/image/lesson/hinh23.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container nav-bar">
    <div class="row">
        <div class="col-md-12 mx-auto mb-5 mt-5 text-center">
            <nav class="menu">
                <a class="link text-dark font-weight-bold text-uppercase mr-3" href="#">About</a>
                <a class="link text-dark font-weight-bold text-uppercase mr-3" href="https://support.duolingo.com">Support</a>
                <a class="link text-dark font-weight-bold text-uppercase mr-3"
                   href="https://www.duolingo.com/terms">Terms</a>
                <a class="link text-dark font-weight-bold text-uppercase mr-3" href="https://www.duolingo.com/">Doulingo</a>
                <a class="link text-dark font-weight-bold text-uppercase mr-3"
                   href="https://www.facebook.com/tinycards">Facebook</a>
                <a class="link text-dark font-weight-bold text-uppercase mr-3"
                   href="https://twitter.com/tinycardsapp">Twitter</a>
                <div class="lang d-inline-block">
                    <img src="../public/image/united-states.png" alt="english"/>
                    <span class="text-dark text-uppercase font-weight-bold">English</span>
                </div>
            </nav>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<pingendo onclick="window.open('https://pingendo.com/', '_blank')"
          style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">
    Made with Pingendo&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
</pingendo>
</body>

</html>