<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Tinycards--Flashcards by Duolingo</title>
	<link rel="shortcut icon" href="../public/image/logo_tiny.jpg" type="image/jpg">
    
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../public/css/1-3/1-3.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="../public/js/style.js"></script>
</head>
<body class="bg-secondary">
	<nav class="navbar navbar-expand-lg navbar-light bg-blue">
    <a class="navbar-brand ml-md-5" href="lesson.html">
        <img src="../public/image/tinycards.png" alt="logo" width="44" height="44">
        <img src="../public/image/tinycards_text.png" alt="text" width="120" height="34" class="text-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 mr-auto ml-lg-5">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-5 align-items-center">
            <li class="nav-item active mr-1">
                <a class="text-white text-uppercase font-weight-bold" href="home.html">
                    <img src="../public/image/home.png" alt="home" class="mr-1">
                    <span>Home</span> 
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="mr-1">
                <a class="nav-link text-white text-uppercase font-weight-bold" href="#">
                    <img src="../public/image/plus.png" alt="home" class="mr-1">
                    <span>Create</span>
                </a>
            </li>
            <li class="mr-1">
                <a class="nav-link text-white text-uppercase font-weight-bold" href="profile.html">
                    <img src="../public/image/profile.png" alt="home" class="mr-1">
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
    <div class="container mt-5 " >
        <div class="row">
            <div class="col-9 col-md-3 mx-auto " >
                <div class="card position-relative" style="height: 300px;" >
                    <a href="#">
                        <div class="position-absolute d-block text-center" style="right:50%; top:50%; transform: translate(50%, -50%);">
                                <img src="../public/image/moutain.png" alt="logo">
                                <b class="text-secondary d-block text-center"> CHOOSE COVER(OPTIONAL)</b>
                        </div>
                    </a>
                </div>
                <div class="deck-input">
                    <input type="text" placeholder="Enter title" maxlength="50" class="bg-secondary border-0 w-100 my-2" >
					<div class="deck-input-description">
						<input type="text" placeholder="Enter description (optional)" maxlength="50" class="bg-secondary border-0 w-100 my-2 description-text">
					</div>

					<div class="row align-items-center">

                        <div class="col-3">
                            <button class="btn-lg button-setting bg-white" style="border-color: #32CDFF; border-style: solid;">
                                <img src="../public/image/settings.png" width="25">
                            </button>
                        </div>

                        <div class="col-9">
                            <button class="rounded btn-lg button-create w-100 bg-blue text-white border-0" >
                            <b>CREATE</b></button>
                        </div>
					</div>
						
                </div>
            </div>

            <div class="col-12 col-md-7 mx-auto pt-md-0 pt-5">
                <div class="card " style="padding:15% 2%;">
                    <div class="row align-items-center" >
                        <div class="col-1"> <b class="text-secondary">1</b></div>
                        <div class="col-5">
                            <div class="border position-relative" style="height: 250px;" >
                                <a href="#">
                                    <div class=" position-absolute text-secondary" style="top:50%; right:50%;  transform: translate(50%, -50%);"> 
                                        <h3>Font</h3>
                                           
                                    </div>
                                </a>    
                            </div> 
                        </div>
                        <div class="col-5">
                                <div class="border" style="height: 250px;">
                                    <a href="#">
                                        <div class=" position-absolute text-secondary" style="top:50%; right:50%;  transform: translate(50%, -50%);"> 
                                            <h3>Back</h3>                       
                                        </div>
                                    </a>   
                                </div>
                        </div>
                        <div class="col-1 mt-5 mt-md-0 mx-auto px-0">
                                <a href="#">
                                    <img src="../public/image/add.png" width="50px">
                                </a>
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</body>
</html>