<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tinycards - FlasCard</title>
    <link rel="shortcut icon" href="../public/image/logo_tiny.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/library/normalize.css">
    <link rel="stylesheet" href="../public/css/1-4-1/1-4-1.css">
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">

    <script src="../public/js/library/jquery-3.3.1.min.js"></script>
    <script src="../public/js/library/owl.carousel.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand ml-md-5" href="lesson.html">
        <img src="../public/image/tinycards.png" alt="logo" width="44" height="44">
        <img src="../public/image/tinycards_text.png" alt="text" width="120" height="34" class="text-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 mr-auto ml-lg-5">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-5">
            <li class="nav-item active mr-1">
                <a class="nav-link" href="home.html">
                    <img src="../public/image/home.png" alt="home" class="mr-1">
                    <span>Home</span>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="#">
                    <img src="../public/image/plus.png" alt="home" class="mr-1">
                    <span>Create</span>
                </a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="profile.html">
                    <img src="../public/image/profile.png" alt="home" class="mr-1">
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="d-flex flex-row mt-5">
        <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="navigation">
            <li class="nav-item mb-0 mb-md-4">
                <a href="#lorem" class="nav-link active font-weight-bold text-uppercase" data-toggle="tab" role="tab" aria-controls="lorem">Edit Profile</a>
            </li>
            <li class="nav-item mb-0 mb-md-4">
                <a href="#ipsum" class="nav-link font-weight-bold text-uppercase" data-toggle="tab" role="tab" aria-controls="ipsum">Settings</a>
            </li>
            <li class="nav-item mb-0 mb-md-4">
                <a href="#dolor" class="nav-link font-weight-bold text-uppercase" data-toggle="tab" role="tab" aria-controls="dolor">Notifications</a>
            </li>
            <li class="nav-item mb-0 mb-md-4">
                <a href="#sit-amet" class="nav-link font-weight-bold text-uppercase" data-toggle="tab" role="tab" aria-controls="sit-amet">Feedback</a>
            </li>
            <li class="nav-item mb-md-4">
                <a href="#sit-amet" class="nav-link font-weight-bold text-uppercase" data-toggle="tab" role="tab" aria-controls="sit-amet">Sign Out</a>
            </li>
        </ul>
        <div class="tab-content ml-5">
            <div class="tab-pane fade show active" id="lorem" role="tabpanel">
                <h1>Lorem</h1>

                <p>Aenean sed lacus id mi scelerisque tristique. Nunc sed ex sed turpis fringilla aliquet in in neque.
                    Praesent posuere, neque rhoncus sollicitudin fermentum, erat ligula volutpat dui, nec dapibus ligula
                    lorem ac mauris. Etiam et leo venenatis purus pharetra dictum.</p>

                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin
                    tempor mi ut risus laoreet molestie. Duis augue risus, fringilla et nibh ac, convallis cursus purus.
                    Suspendisse potenti. Praesent pretium eros eleifend posuere facilisis. Proin ut magna vitae nulla
                    suscipit eleifend. Ut bibendum pulvinar sapien, vel tristique felis scelerisque et. Sed elementum
                    sapien
                    magna, placerat interdum lacus placerat ut. Integer varius, ligula bibendum laoreet sollicitudin,
                    eros
                    metus fringilla lectus, quis consequat nisl nibh ut nisi. Aenean dignissim, nibh ac fermentum
                    condimentum, ante nisl rutrum sapien, at commodo eros sapien vulputate arcu. Fusce neque leo,
                    blandit
                    nec lectus eu, vestibulum commodo tellus. Aliquam sem libero, tristique at condimentum ac, luctus
                    nec
                    nulla.</p>
            </div>
            <div class="tab-pane fade" id="ipsum" role="tabpanel">
                <h1>Ipsum</h1>

                <p>Aenean pharetra risus quis placerat euismod. Praesent mattis lorem eget massa euismod sollicitudin.
                    Donec
                    porta nulla ut blandit vehicula. Mauris sagittis lorem nec mauris placerat, et molestie elit
                    vehicula.
                    Donec libero ex, condimentum et mi dapibus, euismod ornare ligula.</p>

                <p>In faucibus tempus ante, et tempor magna luctus id. Ut a maximus ipsum. Duis eu velit nec libero
                    pretium
                    pellentesque. Maecenas auctor hendrerit pulvinar. Donec sed tortor interdum, sodales elit vel,
                    tempor
                    turpis. In tristique vestibulum eros vel congue. Vivamus maximus posuere fringilla. Nullam in est
                    commodo, tristique ligula eu, tincidunt enim. Duis iaculis sodales lectus vitae cursus.</p>
            </div>
            <div class="tab-pane fade" id="dolor" role="tabpanel">
                <h1>Dolor</h1>

                <p>Ut eget lectus tristique, tempus purus sit amet, porta augue. Mauris lobortis sem nec augue ultricies
                    blandit. Nullam sed sem venenatis, pretium urna eget, scelerisque dolor. Morbi nec volutpat leo,
                    quis
                    faucibus tortor. Aenean vel rutrum mauris. Pellentesque lectus massa, tincidunt quis leo non,
                    sodales
                    sagittis nulla. Proin interdum est at nulla laoreet, pulvinar pretium nisl rutrum. In vel elit a
                    risus
                    rhoncus accumsan vulputate non sapien. Sed et rhoncus velit. Nunc commodo augue fermentum, hendrerit
                    neque at, ullamcorper arcu. Nulla tincidunt orci a lectus efficitur elementum. Donec molestie urna
                    vestibulum augue placerat faucibus. In vitae orci vel mauris cursus viverra ac sit amet nisl.
                    Phasellus
                    odio tortor, ullamcorper eget ullamcorper eget, molestie eget justo. Integer elementum purus eget
                    arcu
                    fermentum tincidunt. Nullam erat tellus, dictum sit amet nisi eu, rutrum fermentum odio.</p>
            </div>
            <div class="tab-pane fade" id="sit-amet" role="tabpanel">
                <h1>Sit Amet</h1>

                <p>Aliquam hendrerit nunc vitae nisi efficitur, eu porta sem aliquam. Aenean tincidunt mi sed mi sodales
                    bibendum. Proin dolor ipsum, mollis venenatis velit eu, iaculis laoreet mi. Mauris eget egestas
                    felis,
                    sit amet finibus nunc. Aliquam non dui sit amet erat auctor mollis ac eget ante. Quisque at quam
                    augue.
                    Nulla dignissim, augue nec cursus consequat, mi nulla efficitur augue, vel fringilla turpis quam eu
                    nunc. Quisque rutrum vehicula lacus sodales molestie. Mauris vel felis sit amet erat maximus cursus
                    ut a
                    velit. In hac habitasse platea dictumst. Vestibulum vel neque sit amet nisl finibus fermentum.</p>
            </div>
        </div>
    </div>

</div>
</body>
</html>