<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinycards - FlasCard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../public/image/logo_tiny.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/library/normalize.css">
    <link rel="stylesheet" href="../public/css/1-5/1-5.css">

    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">

    <link rel="stylesheet" href="../public/css/library/owl.carousel.min.css">
    <link rel="stylesheet" href="../public/css/library/owl.theme.default.min.css">

    <script src="../public/js/library/jquery-3.3.1.min.js"></script>
    <script src="../public/js/library/owl.carousel.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/	bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand ml-md-5" href="lesson.html">
        <img src="../public/image/tinycards.png" alt="logo" width="44" height="44">
        <img src="../public/image/tinycards_text.png" alt="text" width="120" height="34" class="text-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 mr-auto ml-lg-5">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-5">
            <li class="nav-item active mr-1">
                <a class="nav-link" href="home.html">
                    <img src="../public/image/home.png" alt="home" class="mr-1">
                    <span>Home</span> 
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="#">
                    <img src="../public/image/plus.png" alt="home" class="mr-1">
                    <span>Create</span>
                </a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="profile.html">
                    <img src="../public/image/profile.png" alt="home" class="mr-1">
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- End header -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 wrapper mt-md-5 mb-5 rounded">
            <div class="row">
                <div class="col-10 col-md-5 mt-5 offset-1 offset-md-2 font-weight-bold h3" style="color: #5c5c5c;">Trending</div>
                <div class="w-100"></div>

                <!-- Item -->
                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend1.jpg" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">Fruits and Vegetable</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn name Fruits and Vegetable</div>
                </div>
                <div class="w-100"></div>
                
                <!-- Item -->
                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend2.jpg" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">France</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn French in Paris</div>
                </div>
                <div class="w-100"></div>
                
                <!-- Item -->
                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend3.png" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">Patheon</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn Patheon in Greece</div>
                </div>
                <div class="w-100"></div>
                
                <!-- Item -->
                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend4.jpg" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">Person</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn body person</div>
                </div>
                <div class="w-100"></div>

                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend5.jpg" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">Geography</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn Geography</div>
                </div>
                <div class="w-100"></div>

                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend6.png" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">French</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn French basics</div>
                </div>
                <div class="w-100"></div>

                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend7.png" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">Periodic Table</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn Periodic Table</div>
                </div>
                <div class="w-100"></div>

                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend8.png" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">English</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn English-America</div>
                </div>
                <div class="w-100"></div>

                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend9.png" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">PI</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn history of PI number</div>
                </div>
                <div class="w-100"></div>

                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend10.png" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">Transport</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn Transport</div>
                </div>
                <div class="w-100"></div>

                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend11.png" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">Tower</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn Tower</div>
                </div>
                <div class="w-100"></div>

                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend12.png" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">Firefox</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn code FireFox</div>
                </div>
                <div class="w-100"></div>

                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend13.png" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">Birds</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn Blue Birds</div>
                </div>
                <div class="w-100"></div>

                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend14.png" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">Novel</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Read Novel</div>
                </div>
                <div class="w-100"></div>

                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend15.png" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">La Paste</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn La Paste</div>
                </div>
                <div class="w-100"></div>

                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend16.png" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">Mini Craft</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn Mini Craft</div>
                </div>
                <div class="w-100"></div>

                <div class="image-item col-3 col-md-2 mt-5 offset-md-2 offset-1">
                    <img width="144" height="166" src="../public/image/trending/trend17.png" alt="item1" class="rounded">
                </div>
                <div class="info-item col-5 col-md-4 mt-5 ml-5 ml-md-0">
                    <div class="name-item col-12 col-md-12 pl-0">Jobs</div>
                    <div class="details col-12 col-md-12 pl-0 mt-2">Learn Jobs</div>
                </div>
                <div class="w-100"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>