<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tinycards - FlasCard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../public/image/logo_tiny.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">
    <script src="../public/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="../public/js/bootstrap/bootstrap.min.js"></script>
    <script>
    	 $(document).ready(function() {

    	 	$("img.lesson1").click(function(event) {
    	 		window.location.href = "1-1.html";
    	 		return false;
    	 	});	

    	 	$("img.lesson2").click(function(event) {
    	 		window.location.href = "2-0.html";
    	 		return false;
    	 	});	

    	 	$("img.lesson3").click(function(event) {
    	 		window.location.href = "3-1.html";
    	 		return false;
    	 	});	

    	 	$("img.lesson4").click(function(event) {
    	 		window.location.href = "5-1.html";
    	 		return false;
    	 	});	

    	});
    </script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light bg-primary w-100">
    <a class="navbar-brand ml-md-5" href="1.html">
        <img src="../public/image/tinycards.png" alt="logo" width="44" height="44">
        <span class="text-white font-weight-bold">TinyCards</span>
    </a>
</nav>

<div class="container">
	<div class="row">
		<div class="col-12 col-md-12 wrapper mt-5">
			<div class="row text-center mb-5">
				<p class="h3 col-12">Learn with TinyCards right now !</p>
			</div>
			<div class="row">
				<div class="col-5 col-md-3 card1 text-center mb-5 mb-md-0 offset-1 offset-md-0">
					<img width="144px" height="166px" src="../public/image/card/card1.jpg" alt="Football" class="rounded lesson1 pointer">
					<div class="w-100"></div>
					<span class="text-dark font-weight-bold mt-3 d-inline-block">Vegetables</span>
				</div>

				<div class="col-5 col-md-3 card2 text-center mb-5 mb-md-0">
					<img width="144px" height="166px" src="../public/image/card/3.jpg" alt="universe" class="rounded lesson2 pointer">
					<div class="w-100"></div>
					<span class="text-dark font-weight-bold mt-3 d-inline-block">Currency</span>
				</div>

				<div class="col-5 col-md-3 card3 offset-1 offset-md-0 text-center">
					<img width="144px" height="166px" src="../public/image/card/instruments.jpg" alt="Instrument" class="rounded lesson3 pointer">
					<div class="w-100"></div>
					<span class="text-dark font-weight-bold mt-3 d-inline-block">Instruments</span>
				</div>

				<div class="col-5 col-md-3 card4 text-center mb-5 mb-md-0 text-center">
					<img width="144px" height="166px" src="../public/image/card/country.jpg" alt="Country" class="rounded lesson4 pointer">
					<div class="w-100"></div>
					<span class="text-dark font-weight-bold mt-3 d-inline-block">Countries in Asian</span>
				</div>
			</div>
		</div>
	</div>
</div>
	
</body>
</html>