<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tinycards - FlasCard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../public/image/logo_tiny.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="../public/css/1-2/1-2.css" type="text/css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    <script src="../public/js/bootstrap/bootstrap.min.js"></script>
    <script>
         $(document).ready(function() {
            $('.card').flip();
            $(".lesson3-active").click(function(event) {
                window.location.href = '3-2.html';
                return false;
            });
        });
    </script>
</head>

<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light bg-primary w-100">
    <a class="navbar-brand ml-md-5" href="1.html">
        <img src="../public/image/tinycards.png" alt="logo" width="44" height="44">
        <span class="text-white font-weight-bold">TinyCards</span>
    </a>
</nav>
<div class="w-100"></div>
<!-- End header -->
<div class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-12 pt-5">
                <div class="row text-center">
                    <div class="col-8 col-md-12 offset-2 offset-sm-4 offset-md-0 col-sm-4">
                        <img class="img-fluid d-block anhTieuDe rounded w-100" src="../public/image/card/instruments.png">
                    </div>
                    <div class="col-md-12 col-8">
                        <div class="row">
                            <div class="col-md-12 col-12 offset-3 offset-md-0 mt-3">
                                <span class="tieuDe h4 text-dark font-weight-bold">Try your hand at the instruments game and see how many you recognize.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-12"></div>
            <div class="col-md-8 col-sm-12 bg-white pt-3 pl-4">
                <ul class="nav nav-pills border-bottom pb-1 mb-3">
                    <li class="nav-item">
                        <a href="" class="active nav-link" data-toggle="pill" data-target="#tabone">Lessons</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">Cards</a>
                    </li>
                </ul>
                <div class="tab-content mt-2">
                    <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row cot2">
                                    <div class="col-md-3 col-4 col-sm-3 khoa mb-3">
                                        <span class="h3 font-weight-bold text-dark d-block pt-4 bg-light rounded w-75 h-100 pointer lesson3-active">1</span>
                                    </div>
                                    <div class="col-md-3 col-4 col-sm-4 khoa mb-3 pointer">
                                        <img class="img-fluid d-block" src="../public/image/lesson/tải xuống.png"></div>
                                    <div class="col-md-3 col-4 col-sm-4 khoa mb-3 pointer">
                                        <img class="img-fluid d-block" src="../public/image/lesson/tải xuống.png"></div>
                                    <div class="col-md-3 col-4 col-sm-4 khoa mb-3 pointer">
                                        <img class="img-fluid d-block" src="../public/image/lesson/tải xuống.png"></div>
                                    <div class="col-md-3 col-4 col-sm-4 khoa mb-3 pointer">
                                        <img class="img-fluid d-block" src="../public/image/lesson/tải xuống.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                        <div class="row">
                            <div class="col-md-4 col-8 mx-auto col-sm-6 anh mb-3 card" style="height: 200px;">
                                <div class="front">
                                    <img  src="../public/image/lesson3/violin.jpg" alt="violin" 
                                        class="rounded w-100 h-100" style="">
                                </div>
                                <div class="back text-center text-white font-weight-bold h4 bg-dark rounded pt-5">
                                    <div class="w-100 pt-2"></div>
                                    <span class="align-middel pt-3 d-block">Violin</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-8 mx-auto col-sm-6 anh mb-3 card" style="height: 200px;">
                                <div class="front">
                                    <img  src="../public/image/lesson3/piano.jpg" alt="piano" 
                                        class="rounded w-100 h-100" style="">
                                </div>
                                <div class="back text-center text-white font-weight-bold h4 bg-dark rounded pt-5">
                                    <div class="w-100 pt-2"></div>
                                    <span class="align-middel pt-3 d-block">Piano</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-8 mx-auto col-sm-6 anh mb-3 card" style="height: 200px;">
                                <div class="front">
                                    <img  src="../public/image/lesson3/guitar.jpg" alt="guitar" 
                                        class="rounded w-100 h-100" style="">
                                </div>
                                <div class="back text-center text-white font-weight-bold h4 bg-dark rounded pt-5">
                                    <div class="w-100 pt-2"></div>
                                    <span class="align-middel pt-3 d-block">Guitar</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-8 mx-auto col-sm-6 anh mb-3 card" style="height: 200px;">
                                <div class="front">
                                    <img  src="../public/image/lesson3/drums.jpg" alt="drums" 
                                        class="rounded w-100 h-100" style="">
                                </div>
                                <div class="back text-center text-white font-weight-bold h4 bg-dark rounded pt-5">
                                    <div class="w-100 pt-2"></div>
                                    <span class="align-middel pt-3 d-block">Drums</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-8 mx-auto col-sm-6 anh mb-3 card" style="height: 200px;">
                                <div class="front">
                                    <img  src="../public/image/lesson3/saxophone.jpg" alt="saxophone" 
                                        class="rounded w-100 h-100" style="">
                                </div>
                                <div class="back text-center text-white font-weight-bold h4 bg-dark rounded pt-5">
                                    <div class="w-100 pt-2"></div>
                                    <span class="align-middel pt-3 d-block">Saxophone</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-8 mx-auto col-sm-6 anh mb-3 card" style="height: 200px;">
                                <div class="front">
                                    <img  src="../public/image/lesson3/cello.jpg" alt="cello" 
                                        class="rounded w-100 h-100" style="">
                                </div>
                                <div class="back text-center text-white font-weight-bold h4 bg-dark rounded pt-5">
                                    <div class="w-100 pt-2"></div>
                                    <span class="align-middel pt-3 d-block">Cello</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-8 mx-auto col-sm-6 anh mb-3 card" style="height: 200px;">
                                <div class="front">
                                    <img  src="../public/image/lesson3/ukulele.jpg" alt="ukulele" 
                                        class="rounded w-100 h-100" style="">
                                </div>
                                <div class="back text-center text-white font-weight-bold h4 bg-dark rounded pt-5">
                                    <div class="w-100 pt-2"></div>
                                    <span class="align-middel pt-3 d-block">Ukulele</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-8 mx-auto col-sm-6 anh mb-3 card" style="height: 200px;">
                                <div class="front">
                                    <img  src="../public/image/lesson3/flute.jpg" alt="flute" 
                                        class="rounded w-100 h-100" style="">
                                </div>
                                <div class="back text-center text-white font-weight-bold h4 bg-dark rounded pt-5">
                                    <div class="w-100 pt-2"></div>
                                    <span class="align-middel pt-3 d-block">Flute</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-8 mx-auto col-sm-6 anh mb-3 card" style="height: 200px;">
                                <div class="front">
                                    <img  src="../public/image/lesson3/accordion.jpg" alt="accordion" 
                                        class="rounded w-100 h-100" style="">
                                </div>
                                <div class="back text-center text-white font-weight-bold h4 bg-dark rounded pt-5">
                                    <div class="w-100 pt-2"></div>
                                    <span class="align-middel pt-3 d-block">Accordion</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>