<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tinycards — Flashcards by Duolingo</title>

    <link rel="shortcut icon" href="../public/image/logo_tiny.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">
    <script src="../public/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="../public/js/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>

    <script>
        $(() => {
            $(".flip").flip();
        });
    </script>

    <style>
        .img {
            height: 400px;
        }

        .flip {
            height: 400px;
        }

        @media only screen and (max-width: 600px) {
            .flip {
                height: 300px;
            }
            .img {
                height: 300px;
            }
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary w-100">
        <a class="navbar-brand ml-md-5" href="1.html">
            <img src="../public/image/tinycards.png" alt="logo" width="44" height="44">
            <span class="text-white font-weight-bold">TinyCards</span>
        </a>
    </nav>



    <div class="container mt-5 pb-2">
        <div class="card p-4">

            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                    style="width:10%">
                </div>
            </div>

            <div class="text-uppercase text-center mt-3 font-weight-bold text-warning"> New Card</div>

            <div class="row mt-3">
                <div class="col-md-4 mx-auto flip col-12 " style=" width: 100px">
                    <div class="front">
                        <div>
                            <img src="../public/image/lesson5/china.jpg" alt="" style="width:92%; object-fit: covert" class="rounded img">
                        </div>
                    </div>
                    <div class="back">
                        <div class="card text-center h-100 border ">
                            <h3 class="mt-5">China</h3>

                            <div class="row my-auto">
                                <div class="col-md-5 mx-auto col-5 ">
                                    <img src="../public/image/lesson5/china_b.jpg" alt="" class="img-fluid rounded">
                                </div>
                                <div class="col-md-5 mx-auto col-5">
                                    <img src="../public/image/lesson5/chia_a.jpg" alt="" class="img-fluid rounded">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-5 mx-auto col-md-4">
                    <a class="btn btn-info w-100 rounded text-white" href="5-3.html">Continue</a>
                </div>
            </div>



        </div>
    </div>
</body>

</html>