.navbar-brand{
	font-family: Verdana;
	font-size: 30px;
	color: #ffffff;
}
.navbar-default .navbar-nav>li>a{
	font-family: Verdana;
	font-size: 20px;
	color: #ffffff;
}
.navbar-default{
	background-color: #33CFFF;
	padding-right: 15px;
	padding-left: 15px;

}
.navbar-default .navbar-brand{
	color: #ffffff;
}
.container-fluid{
	margin-left: 120px;
	margin-right: 120px;
}
.navbar{
	margin-bottom:0px;
	padding-left: 20px;
}
