body {
	font-family: Tahoma;
	font-size: 15px;
	margin: 0px;	
}
ul{
	margin: 0px;
	padding: 0px;
}
ul li{
	list-style: none;
}

#header{
	background : url(../images/banner1.png) repeat-x;
	height: 214px;
}
#header-margin{
	border: 1px solid black;
	width: 1100px;
	margin: 0px auto;
	height: 212px;
}
#header-margin .header-margin-left{
	float: left;
	height: 200px;
}
#header-margin #logo{
	width: 125px;
}
#header-margin #logo img{
	margin-top:20px;
	margin-left:100px;
}
#header-margin #slogan{
	width: 200px;
}
#header-margin #slogan img{
	margin-top:35px;
	margin-left: 230px;
}
#header-margin #form-search{
	float: right;
	top:10px;
	right: 50px;
	width: 200px;
	position: relative;
}
#header-margin #form-search input{
	margin-top: 20px;
	border: 2px solid #1154a4;
	background : #c3ecf8;
	height: 25px;
	width: 200px;
}
#header-margin #form-search button{
	background : url(../images/search-icon.png) repeat-x;
	width: 20px;
	height: 20px;
	border: none;
	position: absolute;
	top:22px;
	right: 3px;
}
#menu{
	background: #1154a4;
	height: 75px;
	width: 60%;
	float: left;
	margin-left: 20%;
}
#menu ul li{
	float: left;
}
#menu ul li a{
	float: left;
	margin-left: 45px;
	color: white;
	text-decoration: none;
	padding: 0px 5px;
	line-height: 75px;
	font-size: 28px;
}
#menu ul li:hover{
	background: red;
}
#slider-menu{
	background-color: #c3ecf8;
	height: 1300px;
}
div #slide img{
	width:50%;
	height: 350px;
	margin-left: 25%; 
	margin-top: 5px;
}
#demo ul li {
    height: 12px;
    width: 12px;
    border-radius: 30px;
}
#demo ul li:hover {
	background: red none repeat scroll 0 0;
    height: 12px;
    width: 12px;
}
.sub-footer-content {
	background: url(images/banner.jpg);
    background-size: cover;
    padding-top: 65px;
    padding-bottom: 55px;
    text-align: center;
    color: #fff;
}
.register-options {
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    line-height: 40px;
    -webkit-appearance: none;
    cursor: pointer;
}
.register-options{
	border-radius: 35px;
	width: 200px;
}
.site-info{
	background: #262827;
	color: #fff;
	padding-top: 45px;
    padding-bottom: 15px;
}
.site-info a {
    color: #ababab;
}

#selectbasic{
	height: 34px;
}
.portfolio-item{
	margin: 0 0 30px;
}
.caption-content img{
	border: 2px solid #000;
}
.portfolio-link img{
	opacity: 0.5;
}
.portfolio-link img:hover{
	opacity: 1;
}
