* {
    font-family: 'Signika', sans-serif;
}

body {
    font-size: 100%;
    background: #f7f7f7 !important;
}

/* nav */
nav.navbar {
    background: #32CDFF !important;
}

ul.navbar-nav li a.nav-link {
    text-transform: uppercase;
    color: #fff !important;
    font-weight: bold;
    font-size: 14px;
}

ul.navbar-nav li a.nav-link span {
    vertical-align: middle;
}

/* tab */
.flex-row ul li a.nav-link {
	color : #c4c4c4;
	font-size: 12px;
}

.flex-row ul li a.nav-link.active {
	color: #32CDFF;
}