* {
    font-family: 'Signika', sans-serif;
}

body {
    font-size: 100%;
    background: #f7f7f7 !important;
}

a {
    text-decoration: none !important;
}

input, button {
    border: none !important;
    outline: none !important;
}