* {
    font-family: 'Signika', sans-serif;
}

body {
    font-size: 100%;
}

input, button {
    border: none;
    outline: none;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none !important;
}

@media only screen and (max-width: 768px) {
    .nav-bar {
        display: none;
    }
}

.popup-login {
    z-index: 99999;
}


.popup-login div.google-login {
    background: #df360a;
}

.popup-login div.fb-login {
    background: #39559F;
}

.register .popup-signup {
    z-index: 99999;
}


.register .popup-signup form button {
    border: none;
    cursor: not-allowed;
}

.courses .search div.search-title form {
    border: 1px solid #E8E8E8;
}

.courses .search div.search-title form img {
    transform: rotate(-45deg);
}

.courses .create div.create-title div {
    border: 1px solid #32CDFF;
}

