
.btn-default {
	background-color: #32cdff !important;
	font-family: arial;
	font-weight: bold;
	width: 100%;
	color: white;
}
.btn-default:hover {
	color : white;
}
.modal-header {
	height: 71px;
}
.form-control {
	background-color: #ced4da;
}
input {
	color: black !important;
	font-weight: bold;
}
.btn-default {
	margin-top: 7px;
}
.h4, h4 {
    font-size: 1.25em;
    font-weight: bold;
}
button .btn-default {
	text-transform: uppercase;
}