<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>
              <b>
                <a href="http://truyencotichhay.com/category/truyen-co-tich-viet-nam/" target="_blank" title="Truyện Ngắn">{{titles[0]}}</a>
              </b>
            </h2>
            <div class="list-group">
                <b>
                  <button type="button" class="list-group-item">
                    <a href="http://vanhoc.xitrum.net/truyencotich/truyenthuyet/2006/163.html" target="_blank">{{stories[0]}}</a>
                  </button>
                </b>
                <b>
                  <button type="button" class="list-group-item">
                    <a href="http://vanhoc.xitrum.net/truyencotich/vietnam/2010/202.html" target="_blank"> {{stories[1]}}</a>
                  </button>
                </b>
                <b>
                  <button type="button" class="list-group-item">
                    <a href="http://vanhoc.xitrum.net/truyencotich/vietnam/2010/291.html" target="_blank"> {{stories[2]}}</a>
                  </button>
                </b>
                <b>
                  <button type="button" class="list-group-item">
                    <a href="http://vanhoc.xitrum.net/truyencotich/vietnam/2010/290.html" target="_blank"> {{stories[3]}}</a>
                  </button>
                </b>
                <b>
                  <button type="button" class="list-group-item">
                    <a href="http://vanhoc.xitrum.net/truyencotich/vietnam/2007/312.html" target="_blank"> {{stories[4]}}</a>
                  </button>
                </b>
                <b>
                  <button type="button" class="list-group-item">
                     <a href="http://vanhoc.xitrum.net/truyencotich/vietnam/2007/329.html" target="_blank">{{stories[5]}}</a>
                  </button>
                </b>
                <b>
                  <button type="button" class="list-group-item">
                    <a href="http://vanhoc.xitrum.net/truyencotich/vietnam/2010/311.html" target="_blank"> {{stories[6]}}</a>
                  </button>
                </b>
                <b>
                  <button type="button" class="list-group-item">
                    <a href="http://vanhoc.xitrum.net/truyencotich/truyenthuyet/2006/162.html" target="_blank"> {{stories[7]}}</a>
                  </button>
                </b>
            </div>
            <strong>
              <h3> 
                <a href="http://truyencotichhay.com/category/truyen-co-tich-viet-nam/" target="_blank">Xem thêm</a>
              </h3> 
            </strong>
        </div>

        <div class="col-md-6">
            <h2>
              <b>
                <a href="https://www.youtube.com/channel/UCGk3yw5k_xQUS_KSDCC6Nhw/videos" target="_blank" title="Quà Tặng Cuộc Sống">{{titles[1]}}</a>
              </b>
            </h2>
            <div class="list-group">
                <b>
                  <button type="button" class="list-group-item" >
                    <a href="https://www.youtube.com/watch?v=d5iJy6ZTw9c&feature=player_embedded" target="_blank">{{videos[0]}} </a>
                  </button>
                </b>

                <b>
                  <button type="button" class="list-group-item" >
                    <a href="https://www.youtube.com/watch?v=O5k8B8tEd0Q&feature=player_embedded" target="_blank">{{videos[1]}}</a>
                  </button>
                </b>

                <b>
                  <button type="button" class="list-group-item" >
                    <a href="https://www.youtube.com/watch?v=cdmjro6YR1g&feature=player_embedded" target="_blank">{{videos[2]}}</a>
                  </button>
                </b>

                <b>
                  <button type="button" class="list-group-item" >
                    <a href="https://www.youtube.com/watch?v=9k5vV8PkpnY&feature=player_embedded" target="_blank">{{videos[3]}}</a>
                  </button>
                </b>

                <b>
                  <button type="button" class="list-group-item" >
                    <a href="https://www.youtube.com/watch?v=_lwJzlkYHoE&feature=player_embedded" target="_blank">{{videos[4]}}</a>
                  </button>
                </b>

                <b><button type="button" class="list-group-item" >
                     <a href="https://www.youtube.com/watch?v=0OxFpwBgpFA&feature=player_embedded" target="_blank">{{videos[5]}}</a>
                  </button>
                </b>

                <b>
                  <button type="button" class="list-group-item" >
                     <a href="https://www.youtube.com/watch?v=GTfgNya14MY&feature=player_embedded" target="_blank">{{videos[6]}}</a>
                  </button> 
                </b>

                <b>
                  <button type="button" class="list-group-item" >
                     <a href="https://www.youtube.com/watch?v=CDO7NxXQSp8&feature=player_embedded" target="_blank">{{videos[7]}}</a>
                  </button> 
                </b>

            </div>
            <strong>
              <h3>
                <a href="https://www.youtube.com/channel/UCGk3yw5k_xQUS_KSDCC6Nhw/videos" target="_blank">Xem thêm</a>
              </h3> 
            </strong>
        </div>
    </div>

</div>
