<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tinycards - FlasCard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../public/image/logo_tiny.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">
    <script src="../public/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="../public/js/bootstrap/bootstrap.min.js"></script>

    <style type="text/css">
        .mt-10 {
            margin-top: 10px;
        }

        .card-intro {
            background-color: #e2dcdc ;
            padding: 5px 5px 5px 5px ;
            border-radius: 5px
        }

        .midle-card{
            height: 100% ;
            width: 100% ;
            border-radius : 100% ;
            background-color:  #42d6ed;
            padding-top: 50%;
            font-size: 20px;


        }
    </style>


</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light bg-primary w-100">
    <a class="navbar-brand ml-md-5" href="1.html">
        <img src="../public/image/tinycards.png" alt="logo" width="44" height="44">
        <span class="text-white font-weight-bold">TinyCards</span>
    </a>
</nav>

<div class="container">
	<div class="row">
		<div class="col-12 col-md-12 wrapper mt-5">
            <div class="row">
              <div class="col-4 left-card">
                <div class="row">
                  <a class="col-12 card-intro mt-10" href="1-1.html" >
                    <img width="144px" height="166px" src="../public/image/City/apartmenthouse_nhachungcu.jpeg" alt="City" class="rounded lesson1 pointer">
                    <!-- <div class="w-100"></div> -->
                    <span class="text-dark font-weight-bold mt-3 d-inline-block">City</span>
                  </a>

                  <a class="col-12 card-intro mt-10" href="2-0.html">
                    <img width="144px" height="166px" src="../public/image/Fruits/apple_quatao.jpeg" alt="universe" class="rounded lesson2 pointer">
                    <!-- <div class="w-100"></div> -->
                    <span class="text-dark font-weight-bold mt-3 d-inline-block">Fruit</span>
                  </a>
                </div>
              </div>
              <div class="col-4">

                <div class="midle-card">
                    <a href="1-1.html"> <center> Learn with TinyCards right now !</center>
                  </div>
              </div>
              <div class="col-4 right-card">
                <div class="row">
                  <a class="col-12 card-intro mt-10" href="3-0.html">
                    <img width="144px" height="166px" src="../public/image/House/porch_hanhlang.jpeg" alt="Houses" class="rounded lesson3 pointer">
                    <!-- <div class="w-100"></div> -->
                    <span class="text-dark font-weight-bold mt-3 d-inline-block">House</span>
                  </a>

                  <a class="col-12 card-intro  mt-10" href="4-0.html">
                    <img width="144px" height="166px" src="../public/image/Verbs/clean_laudon.jpeg" alt="Verbs" class="rounded lesson4 pointer">
                    <!-- <div class="w-100"></div> -->
                    <span class="text-dark font-weight-bold mt-3 d-inline-block">Activity</span>
                  </a>
                </div>
              </div>
    			</div>
                <div class=""></div>
    			<div class="row">
    			</div>
            </div>
		</div>
	</div>
</div>
	
</body>
</html>