#signInModal label {
    margin-top: 10px;
}

body {
    padding-top: 54px;
}

nav {
    background-color: #ffffff;
}

#content {
    background-color:#fafafa;
}

#footer {
    margin-top: 20px;
}
  
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}