<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tinycards - FlasCard</title>
    <link rel="shortcut icon" href="../public/image/logo_tiny.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/library/normalize.css">
    <link rel="stylesheet" href="../public/css/home/home.css">
    <link rel="stylesheet" href="../public/css/home/m_home.css">

    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">

    <link rel="stylesheet" href="../public/css/library/owl.carousel.min.css">
    <link rel="stylesheet" href="../public/css/library/owl.theme.default.min.css">

    <script src="../public/js/library/jquery-3.3.1.min.js"></script>
    <script src="../public/js/library/owl.carousel.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="../public/js/home_page/home.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand ml-md-5" href="lesson.html">
        <img src="../public/image/tinycards.png" alt="logo" width="44" height="44">
        <img src="../public/image/tinycards_text.png" alt="text" width="120" height="34" class="text-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 mr-auto ml-lg-5">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-5">
            <li class="nav-item active mr-1">
                <a class="nav-link" href="home.html">
                    <img src="../public/image/home.png" alt="home" class="mr-1">
                    <span>Home</span>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="#">
                    <img src="../public/image/plus.png" alt="home" class="mr-1">
                    <span>Create</span>
                </a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="profile.html">
                    <img src="../public/image/profile.png" alt="home" class="mr-1">
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="mask col-12 col-md-12"></div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto wrapper" style="height: 900px;">
                <!--  .row.slide -->
                <div class="row slide">
                    <div class="title col-5 offset-1 col-md-5 offset-md-1">
                        Africa And Europe
                    </div>
                    <div class="picture col-5 offset-1 col-md-3 offset-md-3">
                        <img width="144" height="166" src="../public/image/home_page/africa.png" alt="Africa"
                             class="image-slide">
                    </div>
                </div>
                <!--  .row.favorites -->
                <div class="row favorites">
                    <div class="your col-12 col-md-5">
                        Your favorites
                    </div>
                    <div class="no-favo col-12 col-md-4 offset-md-3">
                        No favorites yet
                    </div>
                </div>
                <!--  .row.follow -->
                <div class="row follow">
                    <div class="title col-12 col-md-5">
                        People your follow
                    </div>
                    <div class="find col-6 offset-3 col-md-3 offset-md-3">
                        Find people to follow
                    </div>
                </div>
                <!-- .row .trending -->
                <div class="row trending">
                    <div class="col-6 col-md-4 title">
                        Trending
                    </div>
                    <div class="col-6 col-md-3 offset-md-5 see-all">
                        See All
                    </div>
                    <div class="w-100"></div>
                    <!-- .slide-trending-->
                    <div class="col-10 offset-1 col-md-10 offset-md-1 slide-trending">
                        <div class="row">
                            <div class="owl-carousel">
                                <div class="block">
                                    <img src="../public/image/trending/trend1.jpg" width="144" height="166"
                                         alt="">
                                    <p>Fruit</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>10K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend2.jpg" width="144" height="166"
                                         alt="">
                                    <p>France</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>14K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend3.png" width="144" height="166"
                                         alt="">
                                    <p>Patheon</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>12K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend4.jpg" width="144" height="166"
                                         alt="">
                                    <p>Exercise</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>15K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend5.jpg" width="144" height="166"
                                         alt="">
                                    <p>Earth</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>8K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend6.png" width="144" height="166"
                                         alt="">
                                    <p>Eiffel Tower</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>26K</span>
                                    </div>
                                </div>

                                <div class="block">
                                    <img src="../public/image/trending/trend7.png" width="144" height="166"
                                         alt="">
                                    <p>Periodic</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>61K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend8.png" width="144" height="166"
                                         alt="">
                                    <p>America</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>9K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend9.png" width="144" height="166"
                                         alt="">
                                    <p>Mathematic</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>8K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend10.png" width="144" height="166"
                                         alt="">
                                    <p>School</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>26K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend11.png" width="144" height="166"
                                         alt="">
                                    <p>Tower</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>20K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend20.png" width="144" height="166"
                                         alt="">
                                    <p>Univison</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>2K</span>
                                    </div>
                                </div>

                                <div class="block">
                                    <img src="../public/image/trending/trend12.png" width="144" height="166"
                                         alt="">
                                    <p>Fire Fox</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>7K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend13.png" width="144" height="166"
                                         alt="">
                                    <p>Blue Bird</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>10K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend14.png" width="144" height="166"
                                         alt="">
                                    <p>Language</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>21K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend15.png" width="144" height="166"
                                         alt="">
                                    <p>La Poste</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>42K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend16.png" width="144" height="166"
                                         alt="">
                                    <p>Mini Craft</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>12K</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <img src="../public/image/trending/trend17.png" width="144" height="166"
                                         alt="">
                                    <p>Jobs</p>
                                    <div class="likes">
                                        <img src="../public/image/star.png" width="16" height="16" alt="likes">
                                        <span>26K</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End .trending-->
                </div>
            </div>
        </div>
</section>
<div class="container">
    <div class="row loading">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2 icon-loading">
            <img src="../public/image/home_page/planet-earth.png" alt="Loading">
            <span>Loading...</span>
        </div>
    </div>
</div>
<div class="container nav-bar">
    <div class="row">
        <div class="col-md-11 offset-md-1">
            <nav class="menu">
                <a class="link" href="#">About</a>
                <a class="link" href="https://support.duolingo.com">Support</a>
                <a class="link" href="https://www.duolingo.com/terms">Terms</a>
                <a class="link" href="https://www.duolingo.com/">Doulingo</a>
                <a class="link" href="https://www.facebook.com/tinycards">Facebook</a>
                <a class="link" href="https://twitter.com/tinycardsapp">Twitter</a>
                <div class="lang">
                    <img src="../public/image/united-states.png" alt="english"/>
                    <span>English</span>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
</html>