<section>
    <h1>Bài 1:Chương 2 - So sánh 2 số phạm vi 100</h1>
    <h2 class="type">Chọn dấu thích hợp</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
                <div class="panel panel-body panel-primary" id="divQues">


                    <div *ngIf="showAns">

                        <h2 class="type">{{num_1}} __ {{num_2}} </h2>

                        <!-- kiểm tra giá trị điền vào ô trống -->
                        <p><strong>Chọn dấu thích hợp điền vào chỗ trống</strong></p>

                        <form>
                            <button type="button" #vl1 value="<" (click)="checkAns(vl1.value)"> < </button>
                            <button type="button" #vl2 value=">" (click)="checkAns(vl2.value)"> > </button>
                            <button type="button" #vl3 value="=" (click)="checkAns(vl3.value)"> = </button>
                        </form>

                    </div>
                    <!-- chuyển sang bài tiếp theo -->
                    <div *ngIf="nextLess">
                        <div id="newLess">
                            <!-- hoàn thành cả 5 câu hỏi đúng -->
                            <div *ngIf="endLessPer">
                                <h2><strong>Chúc mừng bạn đã hoàn thành xuất sắc bài học!</strong></h2>
                                <h2><strong>Chuyển đến bài học mới nào</strong></h2>
                            </div>
                            <div *ngIf="endLess">
                                <h2><strong>Chúc mừng bạn đã hoàn thành bài học!</strong></h2>
                                <h2><strong>Chuyển đến bài học mới nào</strong></h2>
                            </div>
                            <a routerLink="" routerLinkActive="active">Bài 3 - chương 3 - Phép cộng trong phạm vi 100. </a>
                            <router-outlet></router-outlet>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-sm-4">
                <!-- số sao hiện trong panel -->
                <h2 class="type1"><strong>Số sao đạt được </strong></h2>
                <br>
                <div class="panel panel-body panel-primary" id="panel_star">
                    <div id="starAward">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>