<section>
    <h1>Bài 2:Chương 3 - Phép cộng trong phạm vi 100.</h1>
    <h2 class="type">Điền số thích hợp vào ô trống</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
                <div class="panel panel-body panel-primary" id="divQues">


                    <div *ngIf="showAns">

                        <h2 class="type">{{num_1}} + {{num_2}} = <input type="text" #result id="ketqua"> </h2>

                        <!-- kiểm tra giá trị điền vào ô trống -->
                        <div id="submit_ans">
                            <button type="button" (click)="checkAns(result.value); result.value=''" id="kiemtra">Kiểm tra</button>
                        </div>
                    </div>
                    <!-- chuyển sang bài tiếp theo -->
                    <div *ngIf="nextLess">
                        <div id="newLess">
                            <!-- hoàn thành cả 5 câu hỏi đúng -->
                            <div *ngIf="endLessPer">
                                <h2><strong>Chúc mừng bạn đã hoàn thành xuất sắc bài học 2!</strong></h2>
                                <h2><strong>Chuyển đến bài học mới nào</strong></h2>
                            </div>
                            <div *ngIf="endLess">
                                <h2><strong>Chúc mừng bạn đã hoàn thành bài học 2!</strong></h2>
                                <h2><strong>Chuyển đến bài học mới nào</strong></h2>
                            </div>
                            <h2><a routerLink="" routerLinkActive="active">Bài 4 - chương 3 - Tìm số nhỏ nhất, lớn nhất trong phạm vi 100. </a></h2>
                            <router-outlet></router-outlet>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-sm-4">
                <!-- số sao hiện trong panel -->
                <h2 class="type1"><strong>Số sao đạt được </strong></h2>
                <br>
                <div class="panel panel-body panel-primary" id="panel_star">
                    <div id="starAward">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>