h1{
    text-align: center;
    color: blue;
}
.type{
     padding-left: 5cm;
 }
 h2.type1 {
    padding-left: 2cm;
    color: green;
}
 #divQues {
    height: 350px;
    border-width: 3px;
   
}
#panel_star {
    height: 265px;
    border-width: 3px;
    font-size: 15px;
    text-align: center;
}

#submit_ans{
    padding-left: 4cm;
    padding-top: 1cm;
}
#kiemtra{

    font-size: 30px;
    border: 2px double;
    background:#66FFCC;
    height: 50px;
    width: 150px;
    
}
#ketqua{
    width: 80px;
    text-align: center;
}
