<section>
    <h1>Bài toán: Tìm số lớn nhất, tìm số nhỏ nhất.</h1>
    <h2 class="type">Chọn đáp án đúng.</h2>
    <div class="container">
    <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-8">
            <div id="tableCheck">
                <table>
                    <tr>
                        <th>Câu 1</th>
                        <th>Câu 2</th>
                        <th>Câu 3</th>
                        <th>Câu 4</th>
                        <th>Câu 5</th>
                    </tr>
                    <tr>
                        <td id="0"></td>
                        <td id="1"></td>
                        <td id="2"></td>
                        <td id="3"></td>
                        <td id="4"></td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="panel panel-body panel-primary" id="divQues">
                <div *ngIf="showAns">
                    <h2> {{MINMAX[x].name_ques}} </h2>
                    <br>
                    <form>
                        <button type="button" #vl1 value={{MINMAX[x].n_1}} (click)="checkAns(vl1.value)">{{MINMAX[x].n_1}}</button>
                        <button type="button" #vl2 value={{MINMAX[x].n_2}} (click)="checkAns(vl2.value)">{{MINMAX[x].n_2}}</button>
                        <button type="button" #vl3 value={{MINMAX[x].n_3}} (click)="checkAns(vl3.value)">{{MINMAX[x].n_3}}</button>
                        <button type="button" #vl4 value={{MINMAX[x].n_4}} (click)="checkAns(vl4.value)">{{MINMAX[x].n_4}}</button>
                        <button type="button" #vl5 value={{MINMAX[x].n_5}} (click)="checkAns(vl5.value)">{{MINMAX[x].n_5}}</button>
                    </form>
                </div>
                <div *ngIf="nextLess">
                    <div *ngIf="endPer">
                        <h2>Chúc mừng bạn đã hoàn thành xuất sắc bài học.</h2>
                    </div>
                    <div *ngIf="endLess">
                        <h2>Chúc mừng bạn đã hoàn thành bài học.</h2>
                    </div>

                    <h2><a routerLink="/lientruocsau100" routerLinkActive="active">Bài 5 - chương 3 - Số liền trước số liền sau phạm vi 100. </a></h2>
                    <router-outlet></router-outlet>


                </div>
            </div>
        </div>
        </div>
    </div>
</section>