h1 {
    text-align: center;
    color: blue;
}
.type{
     padding-left: 4cm;
 }
 #divQues {
    height: 350px;
    border-width: 3px;
   
}

#panel_star {
    height: 265px;
    border-width: 3px;
    font-size: 15px;
    text-align: center;
}
h2.type1 {
    padding-left: 2cm;
    color: green;
}


p{
    padding-left: 2cm;
    padding-top: 1cm;
    font-size: 20px;
}
#submit_ans{
    padding-left: 6cm;
    padding-top: 1cm;
}

#ketqua{
    width: 80px;
    text-align: center;
}

#kiemtra{

    font-size: 30px;
    border: 2px double;
    background:#66FFCC;
    height: 50px;
    width: 150px;
    
}