h1 {
    text-align: center;
    color: blue;
}

h3 {
    text-align: center;
}

#img_ques {
    margin-left: 2cm;
}

.type {
    color: green;
    margin-left: 2cm;
}

.type1 {
    color: green;
}

#quesCount {
    border-width: 3px;
    height: 330px;
}

#panel_star {
    height: 250px;
    border-width: 3px;
}

.ketqua {
    margin-top: 1cm;
}

#submit_ans{
    size: 20px;
    margin-top: 0.5cm;
}