h1 {
    text-align: center;
    color: blue;
}

h3 {
    text-align: center;
}

#getImgQues {
    margin-left: 2cm;
}

#divQues {
    height: 350px;
    border-width: 3px;
   
}

.type {
    color: green;
    margin-left: 4cm;
}

.type1 {
    color: green;
}


#panel_star {
    height: 265px;
    border-width: 3px;
    font-size: 15px;
    text-align: center;
}

#ketqua{
    font-size: 20px;
    border: 3px double;
    height: 40px;
    width: 150px;
    text-align: center;
}

#nameQues{
    padding-top: 2cm;
    padding-left: 2cm;
}

#submit_ans{
    padding-left: 3cm;
    padding-top: 1cm;
}

#kiemtra{

    font-size: 30px;
    border: 2px double;
    background:#66FFCC;
    height: 50px;
    width: 150px;
    
}