body{
	background:#f7f7f7;
	background-color: #f7f7f7;
}
header{
	padding: 10px;
	padding-top: 10px;
	background: #32CDFF;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

header div.search-bar div.search{
	background: #80dfff;
	z-index: 1000;
	padding: 5px;
}
header div.search form input{
	background: #80dfff; 
}

header div.search{
	border-radius: 10px;
}

header div.h {
	margin-right: 10px;
    display: inline-block;
}

header .h a span, header .c a span, header .p a span{
	color: #fff;
	text-transform: uppercase;
}


/*main*/
.deck-info div.deck a{
	background:  #fff;
	display: block;
	padding-top: 100px;
	text-align: center;
	margin-top: 100px;
	font-weight: bold;
	width: 70%;
	height: 277px;
	border-radius: 30px;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,.17);
}

.deck-info div.deck a div{
	margin-top: 5px;
	color: #c4c4c4;
	text-transform: uppercase;
}

.deck-info div.deck-input input{
	background-color: #f7f7f7;
    font-size: 27px;
    font-weight: bold;
	margin-top: 10px;
	width: 70%;
	border: none;
	height: 41px;
	border-bottom: 2px solid #e8e8e8;
}

.deck-info div.deck-input-description input{
	background-color: #f7f7f7;
	margin-top: 10px;
	width: 70%;
	border: none;
	height: 41px;
	border-bottom: 2px solid #e8e8e8;
}

.deck-info .create-deck button{
	margin-top: 10px;
	margin-left: 15px;
	width: 56px;
	background:#fff;
	border: 2px solid #32cdff;
    border-radius: 10px;
    height: 42px;
}
.deck-info button.btn-create{
	background-color: #32CDFF;
	margin-top: 10px;
	margin-left: 15px;
	width: 40%;
	height: 42px;
	border-radius: 10px;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
.deck-info div.b-deck{
	margin-top: 100px;
	border-radius: 10px;
	background: #fff;
	width: 100%;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,.17);
	min-height: 320px;
}

.deck-info div.number{
	height: 100%;
	vertical-align: middle;
    text-align: center;
    margin-top: 25%;
}
.deck-info div.number div{
	color: #c4c4c4;
	font-size: 200%;
}

.deck-info div.b-deck div.font{
	height: 100%;
}

.deck-info div.deck-font input, .deck-info div.deck-end input{
	margin-top: 30%;
	width: 100%;
	display: block;
	border: none;
	border-radius: 32px;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,.17);
	min-height: 60%;
	padding: 10%; 
	text-align: center;
}

div.b-deck ::-webkit-input-placeholder {
 font-size: 200%;
 color: #c4c4c4;
 text-align: center;
 font-weight: bold;
}
.deck-info div.b-deck div.button-add {
	margin-top: 25%;
}