table, th, td {
    border: 2px solid green;
    border-collapse: collapse;
    text-align: center;
    color: #DF013A;
    background: #E0F2F7;
}

td {
    width: 100px;
    height: 50px;
}

#divQues {

    height: 250px;
    border-width: 3px;
   
}

h1{
    text-align: center;
    color: blue;
}

h2{
    padding-left: 4cm;
}

#tableCheck{
    padding-left: 4cm;
    
}

form {
    padding-left: 3cm;
}

button {
    width: 100px;
    font-size: 30px;
    border: double;
    border-color: royalblue;
    background:#66FFCC;
    height: 50px;
}