* {
    font-family: 'Signika', sans-serif;
}

body {
    font-size: 100%;
    background: #f7f7f7 !important;
}

@media only screen and (max-width: 768px) {
    nav.navbar {
        display: none;
    }
}


.wrapper {
    height: 604px;
}

.process {
    background: #eef1f4;
    height: 8px;
}

.card {
    height: 323px;
}

.continue {
    outline: none;
    border: none;
    height: 35px;
}

.continue button {
    outline: none;
    border: none;
}
