* {
    font-family: 'Signika', sans-serif;
}

body {
    font-size: 100%;
    background: #f7f7f7 !important;
}

input, button {
    border: none;
    outline: none;
}

@media only screen and (max-width: 768px) {
    nav.navbar {
        display: none;
    }
}