<section>
    <h1>Bài 2 - Chương 4: Hình tam giác, hình vuông, hình tròn</h1>
    <h2 class="type">Chọn đáp án đúng.</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div id="tableCheck">
                    <table>
                        <tr>
                            <th>Câu 1</th>
                            <th>Câu 2</th>
                            <th>Câu 3</th>
                            <th>Câu 4</th>
                            <th>Câu 5</th>
                            <th>Câu 6</th>
                        </tr>
                        <tr>
                            <td id="0"></td>
                            <td id="1"></td>
                            <td id="2"></td>
                            <td id="3"></td>
                            <td id="4"></td>
                            <td id="5"></td>
                        </tr>
                    </table>
                </div>
                <br>
                <div class="panel panel-body panel-primary" id="divQues">
                    <div *ngIf="showAns">
                        <h2 class="type"> Đây là hình ??? </h2>
                        <img src={{hinh[x].link_img}}/>
                        <br>
                        <form class="form-inline">
                            <button type="button" #vl1 value={{hinh[x].ans_A}} (click)="checkAns(vl1.value)">{{hinh[x].ans_A}}</button>
                            <button type="button" #vl2 value={{hinh[x].ans_B}} (click)="checkAns(vl2.value)">{{hinh[x].ans_B}}</button>
                            <button type="button" #vl3 value={{hinh[x].ans_C}} (click)="checkAns(vl3.value)">{{hinh[x].ans_C}}</button>
                        </form>
                    </div>
                    <div *ngIf="theEnd">
                        <h2><strong>Chúc mừng bạn đã hoàn thành bài học 2!</strong></h2>
                        <h2>Bạn đã đạt được {{count_true}}/6 sao.</h2>
                        <h2><strong>Chuyển đến bài học mới nào</strong></h2>
                        <h2><a routerLink="/demtamgiac" routerLinkActive="active">Bài 3 - chương 4 - Đếm tam giác. </a></h2>
                        <router-outlet></router-outlet>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>