<section>
    <div *ngIf="nameQues">
        <div *ngIf="b2_c4_head">
            <h1>Bài 2 - Chương 4: Điểm vào đoạn thẳng</h1>
            <h2 class="type">Điền số thích hợp vào ô trống.</h2>
        </div>
        <div *ngIf="b3_c4_head">
            <h1>Bài 3 - Chương 4: Đếm số hình tam giác</h1>
            <h2 class="type">Điền số thích hợp vào ô trống.</h2>
            <p>Chú ý: Chỉ tính số tam giác được nối bởi 3 điểm</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <!-- cột hiển thị câu hỏi -->
            <div class="col-sm-6">
                <!-- câu hỏi hiện trong panel -->
                <div class="panel panel-body panel-primary" id="divQues">

                    <div *ngIf="showAns">
                        <!-- hiển thị câu hỏi -->
                        <h3><strong>{{countques[x].name_ques}}</strong></h3>
                        <div id="getImgQues"><img src={{countques[x].link_img}} /></div>
                        <div id="ans">
                            <input type="text" #result id="ketqua">
                        </div>
                        <div id="submit_ans">
                            <button type="button" (click)="checkAns(result.value); result.value=''" id="kiemtra">Kiểm tra</button>
                        </div>
                    </div>

                    <!-- chuyển sang bài tiếp theo -->
                    <div *ngIf="nextLess">
                        <div id="newLess">
                            <!-- hoàn thành cả 5 câu hỏi đúng -->
                            <div *ngIf="endLessPer">
                                <h2><strong>Chúc mừng bạn đã hoàn thành xuất sắc bài học!</strong></h2>
                                <h2><strong>Chuyển đến bài học mới nào</strong></h2>
                            </div>
                            <div *ngIf="endLess">
                                <h2><strong>Chúc mừng bạn đã hoàn thành bài học!</strong></h2>
                                <h2><strong>Chuyển đến bài học mới nào</strong></h2>
                            </div>
                            <div *ngIf="bai3_chuong4">
                                <a routerLink="/demtamgiac" routerLinkActive="active">Bài 3 - chương 4: Đếm hình tam giác. </a>
                                <router-outlet></router-outlet>
                            </div>
                            <div *ngIf="bai1_chuong5">
                                <a routerLink="" routerLinkActive="active">Bài 1 - chương 5: Xem giờ. </a>
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- cột hiển thị số sao -->
            <div class="col-sm-4">
                <!-- số sao hiện trong panel -->
                <h2 class="type1"><strong>Số sao đạt được </strong></h2>
                <br>
                <div class="panel panel-body panel-primary" id="panel_star">
                    <div id="starAward">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>