<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tinycards - FlasCard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../public/image/logo_tiny.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    <script src="../public/js/bootstrap/bootstrap.min.js"></script>
    <style type="text/css">
        .mt-20 {
            margin-top: 20px ;
        }
    </style>
</head>

<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light bg-primary w-100">
    <a class="navbar-brand ml-md-5" href="1.html">
        <img src="../public/image/tinycards.png" alt="logo" width="44" height="44">
        <span class="text-white font-weight-bold">TinyCards</span>
    </a>
</nav>
<div class="w-100"></div>
<!-- End header -->
<div >
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 offset-md-4 col-sm-12 pt-5">
                <div class="row text-center">
                    <div class="col-8 col-md-12 offset-2 offset-sm-4 offset-md-0 col-sm-4">
                        <img class="img-fluid d-block anhTieuDe rounded w-100" src="../public/image/House/porch_hanhlang.jpeg">
                    </div>
                    <div class="col-md-12 col-8">
                        <div class="row">
                            <div class="col-md-12 col-12 offset-3 offset-md-0 mt-3">
                                <span class="tieuDe h4 text-dark font-weight-bold">House</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 mt-20">
                    <a href="3-1.html" type="button" class="btn btn-info d-inline-block">Start Learn !</a>   
                    <a href="3-9.html" type="button" class="btn btn-success d-inline-block">Test Now !</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>