.tinycard-bounding{
  height: 166px;
  margin-bottom: 30px;
  position: relative;
}

.tinycard{
  display: block;
  margin: auto;
  height: 166px;
  position: relative;
  width: 144px;
}

.tinycard-image{
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 9px #fff;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  position: absolute;
  border-style: none;
}

.tinycard-display{
  display: inline-block;
  height: 286px;
  margin-top: 15px;
  margin-left: 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  vertical-align: top;
  white-space: normal;
  width: 144px;
}

.tinycard-name{
  -webkit-box-orient: vertical;
  color: #5c5c5c;
  display: -webkit-box;
  font-size: 15px;
  -webkit-line-clamp: 3;
  line-height: 1.2;
  margin: 5px 0px;
  width: 100%;
  max-height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.shadow1{
  height: 99%;
  top: 6px;
  width: 99%;
  z-index: 1;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 9px rgba(0,0,0,.1);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.shadow2{
  height: 98%;
  top: 12px;
  width: 98%;
  z-index: 0;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 9px rgba(0,0,0,.1);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}